#my-smooth-scrollbar {
	height: 400px;
	overflow: auto;
}
.scroll-content {
	padding-right: 30px;
}
.scrollbar-track {
}
.scrollbar-track-x {
}
.scrollbar-thumb {
}
.scrollbar-thumb-x {
}
.scrollbar-track-y {
}
.scrollbar-thumb-y {
}