.tabset-tab {
	margin: 0 0 -1px;
	display: flex;
		@include media("<=tablet") {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		margin: 0;
		display: none;
		z-index: 1;
		border: 1px solid #000;
	}

	&.active-drop{
		display: block;
	}
	a {
		text-decoration: none;
		display: block;
		background: #777;
		padding: 8px 50px;
		color: #fff;
		border: solid #000;
		border-width: 1px 1px 1px 0;
		@include media("<=tablet") {
			border: none;
			padding: 10px;
			background: #fff;
			color: #000;
		}
		&:hover {
			@include media("<=tablet") {
				background: green !important;
				color: #fff !important;
			}
		}
	}
	li {
		&:first-child {
			a {
				border-left-width: 1px;
			}
		}
	}
	.active {
		> a {
			color: #000;
			background: #fff;
			border-bottom-color: #fff;
		}
	}
}
.tab-content {
	border: 1px solid #000;
	padding: 25px 20px;
}

.tabset-toggle {
	border: 1px solid #000;
	padding: 10px 40px 10px 15px;
	display: none;
	margin: 0 0 5px;
	position:relative;
	z-index: 10;
	@include media("<=tablet") {
		display: block;
	}
	&:after{
		content:'';
		border: solid #000;
		border-width:0 0 3px 3px;
		width: 10px;
		height: 10px;
		position:absolute;
		top: 0;
		right: 0;
		margin: 10px 15px;
		transform:rotate(-45deg);
	}
}
.tabset-select {
	position: relative;
}

.js-tab-hidden {
	display: block !important;
	left: -9999px !important;
	position: absolute !important;
	top: -9999px !important;
}